<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>index</title>

    <style>
        body{
    background-image: url(https://images.unsplash.com/photo-1579621970563-ebec7560ff3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80);
    text-align: center;
    background-size: 100%;
}
h1{
    font-size: 75px;
    text-shadow: 2pt 2pt 2pt white;
}
marquee{
    font-size: 20pt;
}
button{
    height: 40pt;
    width: 300pt;
    font-size: large;
}
    </style>

</head>
<body>
    <br><br>
    
    <marquee behavior="scroll">Wlecome to ATM Service, Please Click The Correct Button For Use ATM Service. </marquee>
    <h1>ATM SERVICE</h1>

    <form action="#" method="get">

        <button type="submit" formaction="deposit"><b>DEPOSIT</b></button>
        <br><br>
        <button type="submit" formaction="withdraw"><b>WITHDRAW</b></button>
        <br><br>
        <button type="submit" formaction="transaction"><b>GET TRANSACTION</b></button>
        <br><br>
        <button type="submit" formaction="create"><b>CREATE ACCOUNT</b></button>
        <br><br>
        <button type="submit" formaction="get"><b>GET USER</b></button>

    </form>


</body>
</html>